<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="PagSeguro client Test Suite">
            <directory>test/PHPSC/PagSeguro</directory>
        </testsuite>
    </testsuites>
</phpunit>
